.app{
    margin: 0 auto;
    width: 600px
}
.title {
    margin-bottom: 50px;
    text-align: center;
}

.input{
    border: 0;
    box-shadow: 0;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    width: 100%;
}